*{
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
   
}

body{
    background-color: #252526;
    font-family:'Afacad',sans-serif;

}

.main-navbar{
    background-color:#EFEEE8;
    border-radius: 20px;
    display: flex;
    padding: 20px 15px;
    margin: 3% 0 0 12% ;
    width: 75%;
    justify-content: space-around;
    text-align: center;
    z-index:9;
}
.star-logo-img{
    position: relative;
    z-index: 9;
    width: 25px;
    margin: 60px 0 0 90px;
   

}
a{
    
    color: black;
   text-decoration: none;
   font-weight: bold;
   font-size: 2rem;
}

.hero-section{
    display: flex;
    justify-content: space-around;
}
.hero-section-text{
    font-size: 6rem;
    color:whitesmoke;
    text-align: center;
    margin: 2% 0 0 0;


}

.projects-text-div{
    display: flex;
    justify-content: space-around;
    margin: 3.5% 0 0 0;
    

}
.h1-text{
    font-size: 5rem;
    color: #EFEEE8;
}

.contact-me{
    border-style: none;
    margin: 2% 0 0 0;
    font-size: 2.5rem;
    padding: 20px 60px;
    background-color:#FA812F;
    border-radius: 50px;
    font-weight: bold;
}

.contact-me-div{
    display: flex;
    justify-content: space-around;
}

.project-boxes-holder{
    display: flex;
    justify-content: space-evenly;
}

.project-boxes{
    background-color: #FA812F;
    padding: 10% 10% ;
    margin: 1% 0 0 0;
}

.programming-languages-icon{
    width: 100%;
    margin: 10% 0 0 0;
    background-color: #e6aa83;
    padding: 5% 0 0 0;
    text-align: center;

}

.experience-text-div{
    display: flex;
    justify-content: space-around;
    margin: 5% 0 0 0;
}

.experience-boxes-section{
    display: flex;
    justify-content: center;
}
.experience{
    width: 70%;
    margin: 20px 0 3% 0;
    background-color: #5f4e42;
    padding: 5% 0;
    border-radius: 40px;
    text-align: center;

}
.about-me-text-div{
    display: flex;
    justify-content:space-around;
}

.first-section-divs{
    display: flex;
    justify-content:center;
}
.second-section-div{
    display: flex;
    justify-content:space-around;
}
.first-line-div{
    padding: 15rem 10rem;
    background-color: #cbbdb3;
    margin: 0 0 0.5% 0.5%;
}
.second-line-div{
    width: 71.4rem;
    padding: 10rem 0;
    background-color: #cbbdb3;
    text-align: center;
    margin: 0 0 10% 6px;
}
.footer-div{
    padding: 17rem 0;
    border-radius:70px 70px 0 0;
    background-color: #dec7a1;
    text-align: center;
}
