*{
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
   
}

.loader-container{
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: #1e1e1e;
    display: grid;
    place-content: center;
}

.loader{
    width: 5rem;
    height: 5rem;
    border: .4rem solid #FA812F;
    border-left-color:transparent ;
    border-right-color: transparent;
    border-radius: 50%;
    color: #f5c9ac;
    font-weight: bold;
    animation: 1.3s ease infinite alternate spinner ;
}

.loading-text{
    font-size: 1.5rem;
    color: #fff;
    margin: 2% 0 0 0;
    animation: 2s infinite ease-in scaleUp;
}
@keyframes scaleUp{
    0%,95%,100%{
        visibility: hidden;

    }
    40%{
        visibility: initial;
    }

}
@keyframes spinner {
    from{
        transform: rotate(0deg) scale(1);

    }
    to{
        transform: rotate(1turn) scale(5);
    }
}

.loader-container.hidden{
    opacity: 0;
    visibility: none;
    display: none;
}

#page-content{
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
}

#page-content.visible{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

body{
    background-color: #1e1e1e;
    font-family:'Afacad',sans-serif;

}

.main-navbar{
    background-color:#EFEEE8;
    border-radius: 20px;
    display: flex;
    padding: 20px 15px;
    margin: 3% 0 0 12% ;
    width: 75%;
    justify-content: space-around;
    text-align: center;
    position: sticky;
}

.nav-links{
    
    color: black;
   text-decoration: none;
   font-weight: bold;
   font-size: 2rem;
}
.nav-links:hover{
    color: #ff7214;
    transition: 0.5s;
   text-decoration: none;
   font-weight: bold;
   font-size: 2rem;
}

.hero-section{
    display: flex;
    justify-content: space-around;
}
.hero-section-text{
    font-size: 6rem;
    color:whitesmoke;
    text-align: center;
    margin: 2% 0 0 0;


}

.projects-text-div{
    display: flex;
    justify-content: space-around;
    margin: 3.5% 0 0 0;
    

}
.h1-text{
    font-size: 5rem;
    color: #EFEEE8;
}

.contact-me{
    border-style: none;
    margin: 2% 0 0 0;
    font-size: 2.5rem;
    padding: 20px 60px;
    background-color:#FA812F;
    border-radius: 50px;
    font-weight: bold;
}
.contact-me:hover{
    transition: .5s;
    background-color: #ff7214;
}

.contact-me-div{
    display: flex;
    justify-content: space-around;
}

.project-boxes-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-boxes{
    background-color: #FA812F;
    width: 400px;
    height: 400px;
    margin: 1% 0 0 0;
    border-radius: 15px;
}
.project-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 15px;
}

.programming-languages-icon{
    width: 100%;
    margin: 10% 0 0 0;
    text-align: center;
}

.programming-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.experience-text-div{
    display: flex;
    justify-content: space-around;
    margin: 5% 0 0 0;
}

.experience-boxes-section{
    display: flex;
    justify-content: center;
}
.experience{
    width: 70%;
    margin: 20px 0 3% 0;
    background-color: #EFEEE8;
    padding: 1% 0 2% 0;
    border-radius: 40px;
    text-align: center;

}
.about-me-text-div{
    display: flex;
    justify-content:space-around;
}

.first-section-divs{
    display: flex;
    justify-content:center;
}
.second-section-div{
    display: flex;
    justify-content:space-around;
}
.first-line-div{
    width: 380px;
    height: 440px;
    background-color: #EFEEE8;
    margin:0 0 10px 0.5%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.introduction-div{
    display: flex;
    align-items: center;
    font-size:27px;
}
.second-line-div{
    width: 73rem;
    background-color: #EFEEE8;
    text-align: left;
    margin: 0 0 10% 6px;
    padding: 2% 8% 2% 2%;
    font-size:20px;
}

ul{
    list-style-position: inside;
    text-align: center;
}

.first-list{
    margin: 60px 0 0 0;

}
li{
    margin: 10px 30px 0 0;
}
.footer-div{
    padding: 8rem 0 0 0;
    border-radius:70px 70px 0 0;
    background-color: #dec7a1;
    text-align: center;
}

.social-media{
    display: flex;
    justify-content:space-evenly;
    margin: 0 0 50px 0;
}

.social-media-links{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.social-media-links:hover{
    color: #ff7214;
    transition: 0.3s;
}

.thank-you{
    font-size: 22rem;
}

.title-div{
    display: flex;
    justify-content:space-between;
    margin: 0 30px 7px 40px;
}
.paragraph-1{
    text-align: left;
    margin: 0 0 0 40px;

}

.my-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.thank-you-div{
   display: flex;
   justify-content: end;
}
.slide{
    height: 50px;
    width: 30px;
}

@media (max-width:768px){
.main-navbar{
    width: 100%;
    margin: 0;
    border-radius: 0;
}
.hero-section-text{
    font-size: 2.2rem;
}
.contact-me{
    padding: 5px 10px;
    font-size: 1rem;
}
.h1-text{
    font-size: 2rem;
}
.project-boxes{
    width: 200px;
    height: 200px;
}
.first-line-div{
    font-size: 0.4rem;
    width: 110px;
    height: 150px;
}
.second-section-div{
    height: 180px;
    width: 100%;
    margin: 0;
}
.second-line-div{
    font-size: 0.5rem;
}
.footer-div{
   padding: 2rem 0 0 0;
}
.social-media-div{
    width: 10px;
    height: 10px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
}
.nav-links{
    font-size: 0.9rem;
}
.nav-img{
    width: 15px;
    height: 15px;
}
.placeholder-img{
    width: 20px;
    height: 20px;
}
.title-1{
font-size: 0.8rem;
}
.date-1{
    font-size: 0.8rem;
}
.paragraph-1{
    font-size: 0.6rem;
}
.experience{
    border-radius: 20px;
}
}
