.main-g-container{
    width: 33rem;
    height: 38rem;
    background-color:rgba(189, 199, 228, 0.299);
    position: relative;
}
.main-g-container:hover{
    cursor: pointer;
}
.g-container,.g-container img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.g-social-media-links{
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom:0;
    opacity: 0;
    background-image: linear-gradient(transparent,rgb(90, 90, 90));
}
.g-social-media-links:hover{
    color:#2446c1;
    transition: 0.4s ease-in-out;
    opacity: 1;
}
@media(max-width:1200px){
    .main-g-container{
        width: 32rem;
        height: 37rem;}
        .projects-section{
            margin: 2rem 0 0 0;
        }
}

@media(max-width:1160px){
        .main-g-container{
            width: 45rem;
            height: 52rem;}
}


@media(max-width:500px){
            .main-g-container{
            width: 43rem;
            height: 48rem;
        }
}